@media (max-width: 1140px) {
  .photo {
    max-width: 1110px;
    width: 100%;
  }
  .footer_box {
    max-width: 1110px;
    width: 100%;
  }
  .info_left_box {
    max-width: 730px;
    width: 100%;
  }
  .info_right_box {
    max-width: 350px;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .nav_logo {
    margin: 45px auto 70px auto;
  }
  .nav_link {
    font-size: 17px;
  }
  .nav_logo img {
    width: 110px;
    height: 140px;
  }
  .info_left_box {
    padding: 45px 80px 45px 35px;
  }
  .info_left_title,
  .info_right_title {
    font-size: 19px;
  }
  .info_left_text,
  .info_right_text {
    font-size: 15px;
    margin-top: 20px;
  }
  .info_right_box {
    padding: 45px 22px 0 35px;
  }
  .footer_box {
    padding: 14px 35px;
  }
  .footer_tel {
    font-size: 24px;
  }
}
@media (max-width: 900px) { 
  .nav_logo {
    margin: 40px auto 60px auto;
  }
  .info_box {
    height: 400px;
  }
  .info_left_text {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-y: scroll;
  }
  .info_left_text::-webkit-scrollbar{
    width: 0;
  }
  .footer_box img {
    width: 234px;
    height: 110px;
  }
  .photo {
    margin: 20px auto;
  }
}
@media (max-width: 800px) {
  .nav_logo img {
    width: 100px;
    height: 130px;
  }
  .info_left_box {
    padding: 40px 70px 40px 30px;
  }
  .info_left_title,
  .info_right_title {
    font-size: 17px;
  }
  .info_left_text,
  .info_right_text {
    font-size: 15px;
    margin-top: 18px;
  }
  .info_right_box {
    padding: 40px 19px 0 30px;
  }
  .footer_box {
    padding: 12px 30px;
  }
  .footer_box img {
    width: 220px;
    height: 100px;
  }
  .footer_mini_box {
    gap: 9px;
  }
  .footer_text {
    font-size: 15px;
  }
  .footer_tel {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .nav_logo {
    margin: 35px auto 50px auto;
  }
  .nav_logo img {
    width: 90px;
    height: 120px;
  }
  .nav_list {
    max-width: 615px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    overflow-x: scroll;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 15px;
  }
  .nav_list::-webkit-scrollbar{
    height: 0;
  }
  .footer_box {
    padding: 10x 25px
  }
  .footer_box img {
    width: 200px;
    height: 90px;
  }
  .footer_mini_box {
    gap: 8px;
  }
  .footer_text {
    font-size: 14px;
  }
  .footer_tel {
    font-size: 19px;
  } 
}
@media (max-width: 600px){
  .nav_logo{
    margin: 25px auto 35px auto;
  }
  .info_box{
    flex-wrap: wrap;
    height: 100%;
  }
  .info_left_box{
    max-width: 570px;
    height: 300px;
    width: 100%;
    padding: 30px 50px 30px 20px;
  }
  .info_left_title{
    font-size: 16px;
  }
  .info_left_text{
    -webkit-line-clamp: 7;
    margin-top: 13px;
    font-size: 14px;
  }
  .info_right_box{
    max-width: 570px;
    height: 300px;
    width: 100%;
  }
  .info_right_mini_box{
    gap: 25px;
  }
  .footer_box{
    padding: 10px 25px;
  }
  .footer_tel{
    font-size: 18px;
  }
}